# 环境变量（绝对不能上传 GitHub）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 依赖包
node_modules/
.pnpm-store/

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 数据库相关
prisma/*.db
prisma/backup.*

# 运行时缓存
tmp/
temp/
*.tmp

# 生产环境构建
dist/
build/

# 进程文件
*.pid
*.seed
*.pid.lock
/src/generated/prisma
